*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
background:#eef1f4;
}

/* BANNER */

.bannerTopo{
max-width:1200px;
margin:auto;
margin-top:20px;
margin-bottom:20px;
}

.bannerTopo img{
width:100%;
border-radius:12px;
}

/* LAYOUT */

.container{
display:flex;
max-width:1200px;
margin:auto;
gap:20px;
padding:20px;
}

.catalogo{
flex:3;
}

/* INFO */

.barraInfo{
background:#e4e7ec;
padding:10px;
border-radius:8px;
margin-bottom:12px;
}

/* CATEGORIAS */

#menuCategorias button{
background:#e7ebf0;
border:none;
padding:6px 12px;
border-radius:14px;
margin-right:6px;
cursor:pointer;
}

/* BUSCA */

#busca{
width:100%;
padding:10px;
margin-bottom:18px;
border-radius:8px;
border:1px solid #ccc;
}

/* GRID */

.gridProdutos{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
gap:16px;
}

/* CARD */

.produto{
background:white;
padding:16px;
border-radius:12px;
box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

.produto h3{
font-size:14px;
}

.precoB2B{
font-size:22px;
font-weight:bold;
color:#1d4ed8;
margin:8px 0;
}

.progressivo-card{
font-size:12px;
background:#f4f6f8;
padding:8px;
border-radius:8px;
margin:10px 0;
}

/* BOTÕES */

.linhaAcoes{
display:flex;
align-items:center;
gap:10px;
margin-top:10px;
}

.badgeVendido{
background:#ff9800;
color:white;
padding:3px 7px;
border-radius:6px;
font-size:11px;
}

.btnAdd{
margin-left:auto;
background:#2f3242;
color:white;
border:none;
padding:8px 12px;
border-radius:6px;
cursor:pointer;
}

/* CARRINHO */

.carrinho{
flex:1;
background:#2f3242;
color:white;
padding:18px;
border-radius:14px;
}

.total{
margin-top:10px;
}

.barraFundo{
background:#444;
height:8px;
border-radius:6px;
margin:8px 0;
}

.barraProgresso{
background:#27d266;
height:8px;
width:0%;
border-radius:6px;
}

.economia{
margin-top:6px;
}

/* FORM */

.tituloFormulario{
margin-top:12px;
margin-bottom:6px;
color:#5fb3ff;
}

.formPedido input,
.formPedido select,
.formPedido textarea{
width:100%;
padding:8px;
margin-bottom:6px;
border-radius:6px;
border:none;
}

.linha2{
display:grid;
grid-template-columns:1fr 1fr;
gap:6px;
}

.linha3{
display:grid;
grid-template-columns:1fr 1fr 1fr;
gap:6px;
}

/* BOTÕES */

.botoesPedido button{
width:100%;
padding:10px;
margin-top:6px;
border:none;
border-radius:8px;
background:#4a4f63;
color:white;
cursor:pointer;
}

/* FOOTER */

.footer{
background:#2f3242;
color:white;
margin-top:40px;
padding:25px 0;
}

.footerContent{
max-width:1200px;
margin:auto;
display:flex;
justify-content:space-between;
padding:0 20px;
}

/* MOBILE */

@media (max-width:768px){

.container{
flex-direction:column;
}

.gridProdutos{
grid-template-columns:repeat(2,1fr);
}

.carrinho{
margin-top:20px;
}

}
