/* Configurações Gerais */
body { 
    background: #0b0f15; 
    color: white; 
    font-family: 'Roboto', sans-serif; 
    margin: 0; 
    scroll-behavior: smooth;
}

/* MODAL FOTO GRANDE */
.modal { 
    display: none; 
    position: fixed; 
    z-index: 2000; 
    padding-top: 50px; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.9); 
}
.modal-conteudo { margin: auto; display: block; width: 80%; max-width: 600px; border-radius: 10px; }
#legenda-foto { text-align: center; color: #ccc; padding: 10px; font-weight: bold; }
.fechar { position: absolute; top: 15px; right: 35px; color: #f1f1f1; font-size: 40px; font-weight: bold; cursor: pointer; }

/* HEADER E BANNER ANIMADO */
.header-b2b { 
    background: #0b0f15; 
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.5); 
    transition: all 0.4s ease;
}

.banner-container { 
    width: 100%; 
    height: 180px; /* Altura inicial */
    overflow: hidden; 
    display: flex;
    align-items: center;
    transition: height 0.4s ease;
    background: #000;
}

.banner-img { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
}

/* Estado do Banner ao Rolar a Página */
.header-b2b.scrolled .banner-container {
    height: 80px;
}

.nav-bar { 
    background: #1a202c; 
    padding: 8px 20px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    gap: 15px; 
    border-bottom: 2px solid #ff00ff; 
}

/* BOTÕES E BUSCA */
.btn-cat { padding: 6px 12px; border-radius: 15px; border: none; background: #ff00ff; color: white; cursor: pointer; font-weight: bold; font-size: 0.75rem; transition: 0.2s; }
.btn-cat:hover { background: #00ffff; color: #000; }
.busca-container { flex-grow: 1; max-width: 350px; }
.busca-container input { width: 100%; padding: 8px 15px; border-radius: 20px; border: 1px solid #3d4b5f; background: #0b0f15; color: white; outline: none; }

/* LAYOUT PRINCIPAL */
.main-layout { display: flex; gap: 20px; padding: 20px; max-width: 1600px; margin: 0 auto; }

/* PRODUTOS */
.catalogo-section { flex: 3; }
